* {
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    background-image: url(/baby-and-toys.jpg);
    background-color: #BFB1A8;
    background-position: center;
    background-size: cover;
}

header {
    background-color: rgba(248, 232, 214, 0.58);
    margin: 3px 5px;
    padding: 4px;
    position: fixed;     
    width: 100%;
    z-index: 99;
    box-shadow: 0 1px 2px #635b5b;
    backdrop-filter: blur(10px);
    border-radius: 3px;
     display: flex;
    justify-content: space-between;
    align-items: center;
    

}
#menu {
    list-style-type: none;
    
}
a {
    color: black;
    text-decoration: none;
}