/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    min-height: 100vh;
    height: 600px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato' sans-serif;
}
#about-us {
    background-image: url(../images/baby-and-toys.jpg);
    background-color: #BFB1A8;
    background-position: center;
    background-size: cover;
  }
#kids-exercising {
    background-image: url(../images/exercising.jpg);
    background-color: #BFB1A8;
    background-position: center;
    background-size: cover;
}
#subscribe {
    background-image: url(../images/subscribe1.jpg);
    background-color: #BFB1A8;
    background-position: center;
    background-size: cover;
}
main {
    /* Make main element take up any surplus space to push footer down. */
    flex: 1 0 auto;
    margin-top: 100px;
}
 header {
    background-color: rgba(248, 232, 214, 0.58);
    padding: 0 1rem;
    position: fixed;   
    margin-top: 6px;
    top: 0; 
    z-index: 99;
    left: 0;  
    width: 100%;
    box-shadow: 0 1px 2px #635b5b;
    backdrop-filter: blur(2px); 
    
    
}
nav {
    padding-bottom: 5px;
    width: 100%; 
    display: flex;
    justify-content: center;  
}
nav ul li {
    font-size: 20px;
}

nav ul li a {
    font-size: inherit;
}
ul li {
    display: inline-block;
    position: relative;
}
ul li a {
    display: block;
    padding: 5px;
    text-align: center; 
    font-size: 20px;
}
h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #180101;

}

#menu {
    list-style-type: none;
    /* margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; */
       
}
 
#footer-container {
    text-align: center;
    padding: 15px 0;
    display: flex;
    justify-content: space-evenly;
   
}
.social-icons i {
    font-size: 140%;
    padding: 3%;
}
a {
    color: black;
    text-decoration: none;
}
.active {
    border-bottom: 1px solid grey;
}
/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
    }
    h1 {
        font-size: 40px;
    }
    nav ul li {
        font-size: 30px; 
        padding: 0 10px;
    }
 
    main {
        margin-top: 130px;
    }
    
}

@media screen and (min-width: 992px) {
#li-first:hover, #li-second:hover, #li-third:hover {
    font-size: 35px;
    font-weight: bold;
    text-decoration: underline;
   }
   nav {
     justify-content: flex-end;
}
#footer-container {
    justify-content: center;
    
}
.social-icons i {
    padding: 0 35px;

}
}